/*----Generelle indstillinger------*/



* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;

}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: beige;

}



/*----Generelle indstillinger--SLUT----*/


/*----animation.html indstillinger------*/


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.omTemaet {
    width: 75vw;

}

.col {
    flex-basis: 300px;
    flex-grow: 1;
}

.col_1 {
    padding: 0 5vw 3vw 0;
    /*    margin-right: 5vw;*/
}

.image {
    flex-basis: 300px;
    flex-grow: 1;
}


.text {
    flex-basis: 300px;
    flex-grow: 1;


}


#spilwrapper {
    width: 100%;
}




/*----Animation.html indstillinger--SLUT----*/

/*----gulBil.html indstillinger------*/
.wide {
    display: flex;
    flex-wrap: wrap;

}

.foto {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
}

.top {
    /*    flex-basis: 200px;*/
    flex-grow: 1;
    margin-bottom: 2vw;
}

.bottom {
    /*    flex-basis: 200px;*/
    flex-grow: 1;
}

.big img {
    width: 80%;

}






/*----gulBil.html indstillinger---SLUT---*/

/*----------query desktop--------------*/

@media only screen and (min-width:900px) {}
